@import "src/common/_variables.scss";

#container_grid {
  display:grid;
  grid-auto-columns: 10%;
  grid-auto-rows: 10%;
  grid-template-rows: minmax(10%, 0px);
  overflow:auto;
  height:100%;
  position:relative;
}
.img, .container_img {
  width:100%;

}
.container_img {
  overflow:hidden;
  display:flex;
  cursor:pointer;
}
.img {
  align-self: center;
  transform:scale(1.2);
}
