<div id="container_gallery">
  <div class="nav">
    <ng-container *ngFor="let point of artworks; let i = index">
      <div
        [ngClass]="{ 'point':true, 'actual': point.id == artworks_actual.id }"
        (click)="onNavClick(i)"
        mfHover>
      </div>
    </ng-container>
  </div>
  <div class="wrapper_container_image">
    <div class="arrow right" (click)="onClickArrow(true)" mfHover></div>
    <div class="arrow left" (click)="onClickArrow(false)" mfHover></div>
    <div
      *ngFor="let artwork of artworks_visible"
      class="container_image"
      [ngClass]="{ 'hoverElm': isHover, 'actual':artwork.id == artworks_actual.id }"
      (mouseover)="onOverElement(artwork.id)"
      (mouseout)="onOutElement()">
      <img
        [src]="artwork.src"
        (click)="onClickElement(artwork.src)"
        mfHover
        />
    </div>
  </div>
</div>
<app-select-image *ngIf="main_image != null" [image]="main_image" (clickLayer)="onClickLayer()"></app-select-image>
