@import "src/common/_variables.scss";

$z-index-layer:100001;

#layer-image {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, .8);
  z-index:$z-index-layer;
  cursor:pointer;
}
.content {
  box-shadow:0px 0px 10px rgba(0, 0, 0, .2);
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  height:90%;
  max-width:80%;
  width:100%;
  z-index:$z-index-layer + 1;
  display:flex;
  background:rgba(255, 255, 255, .1);
  border:2px solid;
  padding:30px;
  border-image-slice: 1;
  border-image-source: linear-gradient(171deg, $violet 0%, $red 100.54%);

  .infos {
    flex:1;
    font-size:1.5em;
    color:white;
    margin-right:20px;
    .title {
      text-transform: uppercase;
      border-bottom:1px solid rgba(255, 255, 255, .5);
      margin-bottom:.5rem;
      padding-bottom:5px;
      font-size:1.2em;
      font-weight:bold;
    }
    .desc {
      font-weight:200;
    }
    .desc + .title {
      margin-top:1.25rem;
    }
  }
  .container-img {
    flex:2;
    display:flex;
    align-items: center;
    justify-content:flex-end;
    img {
      height:100%;
      width:100%;
      object-fit: contain;
    }
  }

}
